{% extends 'gestion/base.html' %}

{% block title %}Editar Cliente{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Editando a: {{ cliente.id_lead.nombre_completo }}</h2>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                Datos del Cliente
            </div>
            <div class="card-body">
                {{ cliente_form.as_p }}
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                Datos del Lead Original
            </div>
            <div class="card-body">
                {{ lead_form.as_p }}
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'gestion:listar_matriculas' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %} 